* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 180px;
}

.nav {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-weight:1000;
    font-size:x-large;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.main-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    font-weight: 300;
    background-color: #ececec;
    padding-top: 1em;    
    white-space: nowrap;
}

footer {
    height: (80);
    position : relative;
    transform : translateY(-100%);
}

